CalculadoraWSClient/xml-resources/web-service-references/CalculadoraWS/wsdl/localhost_8080/CalculadoraWS/CalculadoraWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://calculadora.jbsystems.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculadora.jbsystems.org/">

<xs:element name="getDifference" type="tns:getDifference"/>

<xs:element name="getDifferenceResponse" type="tns:getDifferenceResponse"/>

<xs:element name="getProduct" type="tns:getProduct"/>

<xs:element name="getProductResponse" type="tns:getProductResponse"/>

<xs:element name="getQuotient" type="tns:getQuotient"/>

<xs:element name="getQuotientResponse" type="tns:getQuotientResponse"/>

<xs:element name="getSum" type="tns:getSum"/>

<xs:element name="getSumResponse" type="tns:getSumResponse"/>

<xs:complexType name="getQuotient">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuotientResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDifference">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDifferenceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProduct">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSum">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSumResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>