CalculadoraWSClient/xml-resources/web-service-references/CalculadoraWS/wsdl/localhost_8080/CalculadoraWS/CalculadoraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculadora.jbsystems.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculadora.jbsystems.org/" name="CalculadoraWS">
<types>
<xsd:schema>
<xsd:import namespace="http://calculadora.jbsystems.org/" schemaLocation="http://localhost:8080/CalculadoraWS/CalculadoraWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getProduct">
<part name="parameters" element="tns:getProduct"/>
</message>
<message name="getProductResponse">
<part name="parameters" element="tns:getProductResponse"/>
</message>
<message name="getSum">
<part name="parameters" element="tns:getSum"/>
</message>
<message name="getSumResponse">
<part name="parameters" element="tns:getSumResponse"/>
</message>
<message name="getDifference">
<part name="parameters" element="tns:getDifference"/>
</message>
<message name="getDifferenceResponse">
<part name="parameters" element="tns:getDifferenceResponse"/>
</message>
<message name="getQuotient">
<part name="parameters" element="tns:getQuotient"/>
</message>
<message name="getQuotientResponse">
<part name="parameters" element="tns:getQuotientResponse"/>
</message>
<portType name="CalculadoraWS">
<operation name="getProduct">
<input wsam:Action="http://calculadora.jbsystems.org/CalculadoraWS/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://calculadora.jbsystems.org/CalculadoraWS/getProductResponse" message="tns:getProductResponse"/>
</operation>
<operation name="getSum">
<input wsam:Action="http://calculadora.jbsystems.org/CalculadoraWS/getSumRequest" message="tns:getSum"/>
<output wsam:Action="http://calculadora.jbsystems.org/CalculadoraWS/getSumResponse" message="tns:getSumResponse"/>
</operation>
<operation name="getDifference">
<input wsam:Action="http://calculadora.jbsystems.org/CalculadoraWS/getDifferenceRequest" message="tns:getDifference"/>
<output wsam:Action="http://calculadora.jbsystems.org/CalculadoraWS/getDifferenceResponse" message="tns:getDifferenceResponse"/>
</operation>
<operation name="getQuotient">
<input wsam:Action="http://calculadora.jbsystems.org/CalculadoraWS/getQuotientRequest" message="tns:getQuotient"/>
<output wsam:Action="http://calculadora.jbsystems.org/CalculadoraWS/getQuotientResponse" message="tns:getQuotientResponse"/>
</operation>
</portType>
<binding name="CalculadoraWSPortBinding" type="tns:CalculadoraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDifference">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuotient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculadoraWS">
<port name="CalculadoraWSPort" binding="tns:CalculadoraWSPortBinding">
<soap:address location="http://localhost:8080/CalculadoraWS/CalculadoraWS"/>
</port>
</service>
</definitions>